<p style="color: green"><%= notice %></p>

<%= render @word_tag %>

<div>
  <%= link_to "Edit this word tag", edit_word_tag_path(@word_tag) %> |
  <%= link_to "Back to word tags", word_tags_path %>

  <%= button_to "Destroy this word tag", @word_tag, method: :delete %>
</div>
