<p style="color: green"><%= notice %></p>

<%= render @word_definition %>

<div>
  <%= link_to "Edit this word definition", edit_word_definition_path(@word_definition) %> |
  <%= link_to "Back to word definitions", word_definitions_path %>

  <%= button_to "Destroy this word definition", @word_definition, method: :delete %>
</div>
