<p style="color: green"><%= notice %></p>

<%= render @verb_tense %>

<div>
  <%= link_to "Edit this verb tense", edit_verb_tense_path(@verb_tense) %> |
  <%= link_to "Back to verb tenses", verb_tenses_path %>

  <%= button_to "Destroy this verb tense", @verb_tense, method: :delete %>
</div>
