<%= form_with(model: verb_conjugation) do |form| %>
  <%= render "common/form_errors", model: verb_conjugation %>

  <div>
    <%= form.label :verb_tense_id, style: "display: block" %>
    <%= form.text_field :verb_tense_id %>
  </div>

  <div>
    <%= form.label :verb_id, style: "display: block" %>
    <%= form.text_field :verb_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
