<p style="color: green"><%= notice %></p>

<%= render @verb_mood %>

<div>
  <%= link_to "Edit this verb mood", edit_verb_mood_path(@verb_mood) %> |
  <%= link_to "Back to verb moods", verb_moods_path %>

  <%= button_to "Destroy this verb mood", @verb_mood, method: :delete %>
</div>
