<div class="action-bar">
    <%= link_to "Noms", new_noun_path %>
    <%= link_to "Verbes", new_verb_path %>
    <%= link_to "Pronoms", new_pronoun_path %>
    <%= link_to "Adverbes", new_adverb_path %>
    <%= link_to "Adjectives", new_adjective_path %>
    <%= link_to "Articles", new_article_path %>
    <%= link_to "Conjonctions", new_conjunction_path %>
    <%= link_to "Prépositions", new_preposition_path %>
    <%= link_to "Expressions", new_expression_path %>
</div>