<% # params: form, wordable_type %>
  
<%# word definition %>
<%= content_tag :div, class: "form-field" do %>
    <%= form.label :word_definition %>
    <%= form.text_field :word_definition %>
<% end %>

<%# category tags %>
<%= content_tag :div, class: "form-field" do %>
    <%= form.label :word_tag_ids, "Tags" %>
    <%= form.collection_select :word_tag_ids, WordTag.all, :id, :tag, {}, { multiple: true } %>
<% end %>

<%= label_tag :locs, "Le mot/expression" %>
<% # each language gets its own loc %>
<% Language.active.each_with_index do |lang, i| %>
    <% # loc textfield %>
    <div class="form-field">
        <% # display language as label %>
        <%= form.label lang.shorthand, lang.name %> 
        <%= text_field_tag wordable_type + "[" + lang.shorthand + "][loc]", "", { autofocus: i == 0 } %>
    </div>
<% end %>