<%# args[columns] => optional columns to be displayed alongside the word translations %>
<%# args[clickable] => if rows can be clicked to go to the word definition%>
<% columns ||= {} %>
<% clickable ||= false %>
<%= content_tag :table, class: html_class, data: { controller: 'clickable-lists' } do %>
    <%= content_tag :tr do %>
        <% Language.active.each do |lang| %>
            <th>
                <%= lang.name %>
            </th>
        <% end %>
        <% if columns[:tags] %>
            <th>
                Tags
            </th>
        <% end %>
    <% end %>
    <% word_defs.each do |word_def| %>
        <%# if args[clickable], row click redirects to the word_definition page %>
        <%= content_tag :tr, class: clickable ? "clickable-row" : "", data: clickable ? { url: words_path(word_def.id.to_s) } : {} do %>
            <% word_def.active_translations.each do |lang, translation| %>
                <td>
                    <% if @searched %>
                        <%= highlight(translation.loc, @searched) %>
                    <% else %>
                        <%= translation.loc %>
                    <% end %>
                </td>
            <% end %>
            <% if columns[:tags] %>
                <td>
                    <%= word_def.tags %>
                </td>
            <% end %>
        <% end %>   
    <% end %>
<% end %>