<%# args[columns] => optional columns to be displayed alongside the word translations %>
<% columns ||= {} %>
<table class="<%= html_class %>">
    <tr>
        <% Language.active.each do |lang| %>
            <th>
                <%= lang.name %>
            </th>
        <% end %>
        <% if columns[:tags] %>
            <th>
                Tags
            </th>
        <% end %>
    </tr>
    <% word_defs.each do |word_def| %>
        <tr>
            <% word_def.active_translations.each do |lang, translation| %>
                <td>
                    <% if @searched %>
                        <%= highlight(translation.loc, @searched) %>
                    <% else %>
                        <%= translation.loc %>
                    <% end %>
                </td>
            <% end %>
            <% if columns[:tags] %>
                <td>
                    <%= word_def.tags %>
                </td>
            <% end %>
        </tr>   
    <% end %>
</table>