<div class="action-bar">
    <%= link_to "<<<", main_menu_path %>
    <%= link_to "<<", dictionary_menu_path %>
    <%= link_to "<", search_word_path %>
</div>

<table class="search-results">
    <tr>
        <% Language.active.each do |lang| %>
            <th>
                <%= lang.name %>
            </th>
        <% end %>
    </tr>
    <% @defs.each do |word_def| %>
        <tr>
            <% Language.active.each do |lang| %>
                <td>
                    <% if word_def.has_key?(lang.shorthand) %>
                        <%= word_def[lang.shorthand].loc %>
                    <% end %>
                </td>
            <% end %>
        </tr>   
    <% end %>
</table>