<div class="action-bar">
    <%= link_to "<<", main_menu_path %>
    <%= link_to "<", dictionary_menu_path %>
</div>

<h1>Recherche de mots</h1>

<%= form_with url: search_word_path, method: :get do |form| %>

    <%= content_tag :div, class: "form-field" do %>
        <%= form.label :search, "Le mot peut contenir: " %>
        <%= form.text_field :search %>
    <% end %>

    <%= form.submit "Search" %>

    <% if @defs %>
        <%= content_tag :div, class: "search-results" do %>
            <%= render partial: "words/search_results", locals: { defs: @defs } %>
        <% end %>
    <% end %>
<% end %>