<p style="color: green"><%= notice %></p>

<%= render @tense %>

<div>
  <%= link_to "Edit this tense", edit_tense_path(@tense) %> |
  <%= link_to "Back to tenses", tenses_path %>

  <%= button_to "Destroy this tense", @tense, method: :delete %>
</div>
