<%= form_with(model: rule) do |form| %>
  <%= render "common/form_errors", model: rule %>

  <div>
    <%= form.label :language_id, style: "display: block" %>
    <%= form.text_field :language_id %>
  </div>

  <div>
    <%= form.label :definition, style: "display: block" %>
    <%= form.text_field :definition %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
