<%= form_with(model: region) do |form| %>
  <%= render "common/form_errors", model: region %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :shorthand, style: "display: block" %>
    <%= form.text_field :shorthand %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
