<%= form_with(model: article_gender) do |form| %>
  <%= render "common/form_errors", model: article_gender %>

  <div>
    <%= form.label :article_id, style: "display: block" %>
    <%= form.text_field :article_id %>
  </div>

  <div>
    <%= form.label :gender_id, style: "display: block" %>
    <%= form.text_field :gender_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
