<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || t('app_title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= content_tag :header, class: "nav" do %>
      <%= render partial: "layouts/header" %>
    <% end %>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <%= content_tag :div, class: "content" do %>
      <%= yield %>
    <% end %>
  </body>
</html>
